<title>Edit blog </title>

<h2 class="mt-4 mb-4">Edit blog</h2>

<form method="POST" action="/blog/{{post._id}}?_method=PUT">
  <div class="form-group mb-3">
    <label class="form-label form-label-create">Title</label>
    <input type="text" class="form-control form-control-lg"
      placeholder="How to Distinguish a Good Programmer from a Bad One" value="{{post.title}}" name="title" />
  </div>

  <div class="form-group mb-3">
    <label class="form-label form-label-create-description form-label-create">Description</label>
    <input type="text" class="form-control form-control-lg"
      placeholder="And what you can do to avoid being a bad programmer" value="{{post.description}}"
      name="description" />
  </div>

  <div class="form-group mb-3">
    <p class="form-label-create">Content</p>
    <textarea class="form-label-create-content" rows="9" cols="70" name="content">{{post.content}}</textarea>
  </div>

  <div class="form-group mb-3">
    <label class="form-label form-label-create">Author</label>
    <input type="text" class="form-control form-control-lg" placeholder="Josef Cruz" value="{{post.author}}"
      name="author" required readonly />
  </div>

  {{! Categories }}

  <p class="form-label-create">Categories</p>
  <select class="form-select form-select-lg" aria-label=".form-select-sm example" value="{{post.categories}}"
    name="categories">
    <option name="categories" selected> {{post.categories}}</option>
    <option name="categories">Blog</option>
    <option name="categories">News</option>
    <option name="Story">Story</option>
    <option name="Programming">Programming</option>
    <option name="Business">Business</option>
    <option name="Psychology">Psychology</option>
    <option name="Lifestyle">Lifestyle</option>
  </select>
  <a href="/blog" class="btn btn-secondary btn-lg mt-4">Cancel</a>
  <button type="submit" class="btn btn-success btn-lg mt-4">Publish</button>
</form>