<title>Blogs</title>
<link rel="stylesheet" href="/css/blog.css">
<h2 class="title-main-page">All Blogs</h2>
<hr style="height: 2px; margin:30px 0 50px 0" />

<div class="blogs">
    {{#each posts}}
    <div class="card acard-item" style="width: 700px">
        <a class="card-item-title" href="/blog/{{this.slug}}">
            <h3 class="card-header">{{ this.title }}</h3>
        </a>

        <div class="card-body">
            <p class="card-text">{{ this.description }}</p>

            <div class="card-footer-item">
                <a href="#" class="btn btn-light"> Author : {{ this.author }} </a>
                <h5 class="card-footer-item-p">Category : {{ this.categories}}
                    <h5 />
            </div>
        </div>
    </div>

    {{!-- <a href="/blog/{{this.slug}}">
        <h3>{{ this.title }}</h3>
    </a>
    <p>{{ this.description }}</p>
    <a href="#" class="btn btn-light"> By {{ this.author }} </a>
    <h5>Category : {{ this.categories}}</h5> --}}

    <div style="margin: 50px 0"></div>

    {{else}}

    <table class="table table-hover mt-4 text-center">
        <tbody>
            <tr>
                <td colspan="6">
                    <h4>No posts available</h4>
                    <a href="/blog/create" class="btn btn-success mt-4">Create a new blog now</a>
                </td>

            </tr>
        </tbody>
    </table>
    {{/each}}
</div>