<title>Blogs</title>
<link rel="stylesheet" href="/css/blog.css">
<h2 class="title-main-page">Blogs</h2>
<hr>

<div>
    {{#each posts}}
    <div class="card acard-item" style="width: 680px">
        <a class="card-item-title" href="/blog/{{this.slug}}">
            <h3 class="card-header">{{ this.title }}</h3>
        </a>

        {{!-- <img class="card-header-picture" src="{{this.img}}" alt=""> --}}

        <div class="card-body">
            <p class="card-text">{{ this.description }}</p>

            <div class="card-footer-item">
                <a href="#" class="btn btn-light"> Author : {{ this.author }} </a>
                <h5 class="card-footer-item-p">Category : {{ this.categories}}</>
            </div>
        </div>
    </div>
    <hr style="width: 680px">

    {{else}}

    <table class="table table-hover mt-4 text-center">
        <tbody>
            <tr>
                <td colspan="6">
                    <h4>No posts available</h4>
                    <a href="/blog/create" class="btn btn-success mt-4">Create a new blog now</a>
                </td>

            </tr>
        </tbody>
    </table>

    {{/each}}
</div>