<title>News</title>

<body>
    <h2 class="title-main-page">Blogs Page</h2>
    <hr>

    <div>
        {{#each posts}}
        <div class="card card-item" style="width: 680px">
            <a class="card-item-title" href="/news/{{this.slug}}">
                <h3 class="card-header">{{ this.title }}</h3>
            </a>

            {{!-- <img class="card-header-picture"src="{{this.img}}" alt=""> --}}

            <div class="card-body">
                {{!-- <h5 class="card-title">{{ this.title }}</h5> --}}
                <p class="card-text" >{{ this.description }}</p>

                <div class="card-footer-item">
                    <a href="#" class="btn btn-light"> Author : {{ this.author }} </a>
                    <h5 class="card-footer-item-p">Category : {{ this.categories}}</>
                </div>
            </div>
        </div>
        <hr style="width: 680px">
        {{/each}}
    </div>

</body>

</html>